@use "@angular/material" as mat;
@include mat.core();

:root {
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --primary-color: #0da2ff;
  --background: #f1f1f1;
  --background-dark: #333333;
  --background-darker: rgb(0, 0, 0);
  --font: #2d2e30;
  --font-dark: #ffffff;
  --palette-50: #e2f4ff;
  --palette-100: #b6e3ff;
  --palette-200: #86d1ff;
  --palette-300: #56beff;
  --palette-400: #31b0ff;
  --palette-500: #0da2ff;
  --palette-600: #0b9aff;
  --palette-700: #0990ff;
  --palette-800: #0786ff;
  --palette-900: #0375ff;
  --palette-A100: #ffffff;
  --palette-A200: #f2f7ff;
  --palette-A400: #bfd9ff;
  --palette-A700: #a6c9ff;
  --contrast-50: #000000;
  --contrast-100: #000000;
  --contrast-200: #000000;
  --contrast-300: #000000;
  --contrast-400: #000000;
  --contrast-500: #000000;
  --contrast-600: #ffffff;
  --contrast-700: #ffffff;
  --contrast-800: #ffffff;
  --contrast-900: #ffffff;
  --contrast-A100: #000000;
  --contrast-A200: #000000;
  --contrast-A400: #000000;
  --contrast-A700: #000000;
}

$palette: (
  50: var(--palette-50),
  100: var(--palette-100),
  200: var(--palette-200),
  300: var(--palette-300),
  400: var(--palette-400),
  500: var(--palette-500),
  600: var(--palette-600),
  700: var(--palette-700),
  800: var(--palette-800),
  900: var(--palette-900),
  A100: var(--palette-A100),
  A200: var(--palette-A200),
  A400: var(--palette-A400),
  A700: var(--palette-A700),
  contrast: (
    50: var(--contrast-50),
    100: var(--contrast-100),
    200: var(--contrast-200),
    300: var(--contrast-300),
    400: var(--contrast-400),
    500: var(--contrast-500),
    600: var(--contrast-600),
    700: var(--contrast-700),
    800: var(--contrast-800),
    900: var(--contrast-900),
    A100: var(--contrast-A100),
    A200: var(--contrast-A200),
    A400: var(--contrast-A400),
    A700: var(--contrast-A700),
  ),
);

$primary: mat.define-palette($palette);
$accent: mat.define-palette($palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($light-theme);

::selection {
  background: var(--primary-color);
  color: var(--background-dark);
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 0.5s ease;
  background: rgba(var(--background), 0.5) !important;
}

::-webkit-scrollbar-track {
  background: var(--background);
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
  width: 10px;
  transition: all 0.5s ease;

  &:hover {
    width: 15px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);

  background: var(--background-dark);
  color: var(--font-dark);

  @media screen and (max-width: 959px) {
    background: var(--background-darker);
  }

  ::selection {
    background: var(--primary-color);
    color: var(--background-dark);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color) !important;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color) !important;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-dark);
  }
}
