<mat-toolbar>
  <div fxFlex fxLayoutAlign="end center">
    <button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button (click)="theme.toggleTheme()">
      <mat-icon *ngIf="!theme.view">dark_mode</mat-icon>
      <mat-icon *ngIf="theme.view">light_mode</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let user of users; let idx = index">
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>{{user.name}}</div>
    <div matListItemLine>{{user.email}}</div>

    <div matListItemMeta>
      <button mat-icon-button (click)="edit(user)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="remove(user,idx)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>

<div class="noContent" *ngIf="users.length === 0">
  <h2>Bitte legen Sie ein Benutzer an!</h2>
</div>